@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../backgroundbattle.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 200;
}

h1 {
  margin-top: 60px;
}

img {
  size: cover;
  width: auto;
  height: auto;
}
#myButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#yourPoke{
  margin-top: 50px;
  margin-left: 195px;
  margin-bottom: 0px;
  margin-right: 150px;
}


#pokeTeam {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

#flee {
  margin-top: 30px;
}

.teamMems {
  margin: 10 auto;
}

#enemyTeam {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
#enemyPoke {
  margin-top: 15px;
  margin-left: 170px;
}
