body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://img.freepik.com/premium-vector/old-paper-texture-background_108964-98.jpg?w=2000;)
}
img {
  width: 140px;
}
#myButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#yourPoke{
  margin-top: 100px;
  margin-left: 205px;
  margin-bottom: 0px;
  margin-right: 150px;
}


#pokeTeam {
  display: flex;
  flex-direction: row;
}

#flee {
  margin-top: 30px;
}

.teamMems {
  margin: 10 auto;
}

#enemyTeam {
  display: flex;
  flex-direction: row;
}
#enemyPoke {
  margin-top: 0px;
  margin-left: 180px;
}
