
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://studio.code.org/v3/assets/yTEQBrNJgJOl_9WjY2CqMH72tetiKtHxPusReq8qkW8/gigantic_battle_background_by_kyle_dove-d5nwldw.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: fantasy;
  font-weight: 500;
}

h1 {
  margin-top: 60px;
}

img {
  width: 140px;
}
#myButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#yourPoke{
  margin-top: 50px;
  margin-left: 195px;
  margin-bottom: 0px;
  margin-right: 150px;
}


#pokeTeam {
  display: flex;
  flex-direction: row;
}

#flee {
  margin-top: 30px;
}

.teamMems {
  margin: 10 auto;
}

#enemyTeam {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
#enemyPoke {
  margin-top: 15px;
  margin-left: 170px;
}
